.glassyDiv {
  background: linear-gradient(179.75deg, rgba(217, 217, 217, 0.16) 0%, rgba(217, 217, 217, 0.16) 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  overflow: hidden;
}


body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  z-index: 1;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

/* width */
div::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

/* Track */
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px;
  border-radius: 0px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}

/* toggle list */


.toggle {
  padding-inline-start: 0em;
  list-style-type: none;
}

/* Indent toggle children */
.toggle>li>details {
  padding-left: 1.7em;
}

.toggle>li>details>summary {
  margin-left: -1.1em;
}

ul.toggle>li {
  list-style: none;
}

/* heartbeat effect */

:root {
  --animation-speed: 1.6s;
  --background-color: #212121;
}

.heart {
  animation: heartbeat var(--animation-speed) infinite;
  user-select: none;
}

.heart img {
  width: 150px;
}

/* Animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  7% {
    transform: scale(1.2);
  }
  14% {
    transform: scale(1);
  }
  21% {
    transform: scale(1.2);
  }
  28% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
