body {
	margin: 0px;
	padding: 0px;
	color: white;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

div {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

/* canvas {
    overflow-clip-margin: unset;
    overflow: hidden;
    overflow-x: ;
    overflow-y: ;
} */

.remark {
	text-align: center;
	width: 300px;
	position: absolute;
	z-index: 10;
	bottom: 20px;
	left: 50%;
	margin-left: -150px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@keyframes initialZoomEffect {
	0% {
		transform: perspective(500px) translateZ(-10000px);
	}

	100% {
		transform: perspective(500px) translateZ(0px);
	}
}


.zoom0 {
	transform: perspective(500px) translateZ(-10000px);
	opacity: 0;
}

.zoom1 {
	animation-name: initialZoomEffect;
	animation-duration: 0.05s;
	transform: perspective(500px) translateZ(0px);
}

.zoom2 {
	overflow: hidden;
	animation-name: outZoomEffect;
	animation-duration: 0.6s;
	transform: perspective(500px) translateZ(600px);
}

.child {
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes outZoomEffect {
	0% {
		transform: perspective(500px) translateZ(0px);
		opacity: 1;
		display: flex;
	}

	100% {
		transform: perspective(500px) translateZ(600px);
		opacity: 0;
		display: flex;
	}
}

@media only screen and (max-width: 600px) {
	@keyframes initialZoomEffect {
		0% {
			transform: perspective(500px) translateZ(-10000px);
		}

		100% {
			transform: perspective(500px) translateZ(0px);
		}
	}


	.zoom0 {
		transform: perspective(500px) translateZ(-10000px);
		opacity: 0;
	}

	.zoom1 {
		animation-name: initialZoomEffect;
		animation-duration: 0.05s;
		transform: perspective(500px) translateZ(0px);
	}


	.zoom2 {
		overflow: hidden;
		animation-name: outZoomEffect;
		animation-duration: 0.6s;
		transform: perspective(500px) translateZ(600px);
		display: none;
	}

	@keyframes outZoomEffect {
		0% {
			transform: perspective(500px) translateZ(0px);
			opacity: 1;
			display: flex;
		}

		100% {
			transform: perspective(500px) translateZ(600px);
			opacity: 0;
			display: flex;
		}
	}

	.child {
		width: 90vw;
	}
}

/* zooming on earth */

@keyframes zoomEarth {
	0% {
		height: 100vh;
		scale: 1;
		opacity: 1;
	}

	100% {
		height: 100vh;
		scale: 50;
		opacity: 0;
		display: none;
	}
}

.initialEarth {
	height: 100vh;
	scale: 1;
	opacity: 1;
	/* display: none; */

}

.finalEarth {
	animation-name: zoomEarth;
	animation-duration: 1s;
}

.displaynone {
	display: none;
}


.eventIconContainerContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}


.eventIconContainer {
	width: 40vw;
	height: 40vw;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigationPhone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	height: 8vh;
	z-index: 10;
	width: 100vw;
}

.navitem {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background-color: Transparent;
	height: 8vh;
	width: 8vh;
}

.active{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8vh;
}