div body html {
    border: 0;
    margin: 0;
}

body {
    background-size: cover;
}

.navbarDesktop {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .navbarDesktop {
        display: none;
    }

    body {
        background-size: auto;
    }
}